/* components/common/ActionButtons.css */
.action-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 400;
  color: #333;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.action-btn:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.action-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.action-btn-edit, .action-btn-confirm {
  background-color: #02437d;
  border-color: #02437d;
  color: #F1C143;
}

.action-btn-add, .action-btn-login, .action-btn-register {
  background-color: #fff;
  border-color: #02437d;
  color: #02437d;
}

.action-btn-back, .action-btn-close {
    background-color: #fff;
    border-color: #0e0e0c;
    color: #0e0e0c;
}

.action-btn-delete, .action-btn-logout {
    background-color: #fff;
    border-color: #B22222;
    color: #B22222;
}

.action-btn-search, .action-btn-detail, .action-btn-file, .action-btn-filter {
	background-color: #f1c143;
	border-color: #f1c143;
	color: #0e0e0c;
}