.navbar .nav-link,
.navbar .navbar-brand {
	color: #02437D !important;
}

.navbar .dropdown-menu {
	border: 1px solid #02437D;
	border-radius: .5em;
	position: absolute;
	margin-top: 7px; 
	z-index: 2000
}

.navbar .dropdown-item {
	color: #02437D;
}

.navbar .dropdown-item:hover {
	background-color: #F1C143;
	color: #02437D;
}
