.navbar .dropdown-menu {
	background: rgb(44, 150, 131);
	border: none;
	border-radius: .5em;
	position: absolute;
	margin-top: 7px; /* tăng khoảng cách trên */
}

.navbar .dropdown-item {
	color: #fff;
}

.navbar .dropdown-item:hover {
	background-color: #2cbba1ff;
	color: #fff;
}
